<a href="https://colab.research.google.com/github/JacopoKahl/cars-python-lab/blob/master/cars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Cars - Regression task

Objectives: predict mpg(miles per gallon) given veichle features

Import libraries and functions

In [0]:
from keras.models import Sequential
from keras.layers import Dense

import pandas as pd #Manage dataset

Labels

In [0]:
column_names=['MPG', 'Cylinders', 'Displacement', 'HP', 'Weight', 'Acceleration', 'Model Year', 'Origin']

Load Dataset

In [0]:
dataset = pd.read_csv('auto-mpg.data', names=column_names, na_values = '?', sep=' ', skipinitialspace=True, comment='\t')

In [41]:
dataset.head()

    MPG  Cylinders  Displacement  ...  Acceleration  Model Year  Origin
0  18.0          8         307.0  ...          12.0          70       1
1  15.0          8         350.0  ...          11.5          70       1
2  18.0          8         318.0  ...          11.0          70       1
3  16.0          8         304.0  ...          12.0          70       1
4  17.0          8         302.0  ...          10.5          70       1

[5 rows x 8 columns]

Data cleaning

In [42]:
dataset.isna().sum()

MPG             0
Cylinders       0
Displacement    0
HP              6
Weight          0
Acceleration    0
Model Year      0
Origin          0
dtype: int64

Brutal data cleaning approach: drop the rows with NaNs

In [0]:
dataset = dataset.dropna() #overwrite the previous dataset with a cleaned one (removing rows with NaNs)

In [44]:
dataset.isna().sum()

MPG             0
Cylinders       0
Displacement    0
HP              0
Weight          0
Acceleration    0
Model Year      0
Origin          0
dtype: int64

One-hot encoding of Origin (categorical data) column

In [0]:
origin = dataset.pop('Origin')

In [0]:
dataset['USA'] = (origin == 1) * 1.0
dataset['EUROPE'] = (origin == 2) * 1.0
dataset['JAPAN'] = (origin==3) * 1.0

In [47]:
dataset.head()

    MPG  Cylinders  Displacement     HP  ...  Model Year  USA  EUROPE  JAPAN
0  18.0          8         307.0  130.0  ...          70  1.0     0.0    0.0
1  15.0          8         350.0  165.0  ...          70  1.0     0.0    0.0
2  18.0          8         318.0  150.0  ...          70  1.0     0.0    0.0
3  16.0          8         304.0  150.0  ...          70  1.0     0.0    0.0
4  17.0          8         302.0  140.0  ...          70  1.0     0.0    0.0

[5 rows x 10 columns]

Split the dataset into train and tests sets

In [0]:
train_dataset = dataset.sample(frac=0.8, random_state=0)
test_dataset = dataset.drop(train_dataset.index) #test_dataset obtained as difference (removes sampled rows from original dataset)

Output

In [0]:
#labels = dataset.pop('MPG')

train_labels = train_dataset.pop('MPG') #note that the output is called 'labels' but they are not labels, but numbers(MPG)
test_labels = test_dataset.pop('MPG') #note that the output is called 'labels' but they are not labels, but numbers(MPG)

Build model

In [0]:
model = Sequential()
model.add(Dense(units=4, activation='relu', input_dim= train_dataset.shape[1]))
model.add(Dense(units=6, activation='relu'))
model.add(Dense(units=1)) #regression problem don't need an activation

In [51]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_7 (Dense)              (None, 4)                 40
_________________________________________________________________
dense_8 (Dense)              (None, 6)                 30
_________________________________________________________________
dense_9 (Dense)              (None, 1)                 7
=================================================================
Total params: 77
Trainable params: 77
Non-trainable params: 0
_________________________________________________________________

Define a loss function and optimizer. Different from previous classification examples. Note tha the metric is a mean absolute error instead of accuracy.

In [0]:
model.compile(loss='mean_squared_error', optimizer='RMSprop', metrics=['mean_absolute_error'])

Fit data

In [53]:
model.fit(train_dataset, train_labels, batch_size=16, epochs=100)

Epoch 1/100
314/314 [==============================] - 0s 629us/step - loss: 803018.2428 - mean_absolute_error: 864.3202
Epoch 2/100
314/314 [==============================] - 0s 104us/step - loss: 499414.7992 - mean_absolute_error: 681.3737
Epoch 3/100
314/314 [==============================] - 0s 71us/step - loss: 317373.6606 - mean_absolute_error: 543.0773
Epoch 4/100
314/314 [==============================] - 0s 77us/step - loss: 203135.0334 - mean_absolute_error: 437.1684
Epoch 5/100
314/314 [==============================] - 0s 80us/step - loss: 133207.5041 - mean_absolute_error: 354.4870
Epoch 6/100
314/314 [==============================] - 0s 74us/step - loss: 84752.6311 - mean_absolute_error: 282.8393
Epoch 7/100
314/314 [==============================] - 0s 68us/step - loss: 50057.9170 - mean_absolute_error: 217.9849
Epoch 8/100
314/314 [==============================] - 0s 73us/step - loss: 26520.9092 - mean_absolute_error: 159.3507
Epoch 9/100
314/314 [==============================] - 0s 81us/step - loss: 13233.9912 - mean_absolute_error: 113.0233
Epoch 10/100
314/314 [==============================] - 0s 92us/step - loss: 7669.2799 - mean_absolute_error: 86.4638
Epoch 11/100
314/314 [==============================] - 0s 73us/step - loss: 3968.6674 - mean_absolute_error: 62.1774
Epoch 12/100
314/314 [==============================] - 0s 81us/step - loss: 1695.1632 - mean_absolute_error: 40.3243
Epoch 13/100
314/314 [==============================] - 0s 77us/step - loss: 691.5641 - mean_absolute_error: 25.0293
Epoch 14/100
314/314 [==============================] - 0s 77us/step - loss: 599.2871 - mean_absolute_error: 23.2212
Epoch 15/100
314/314 [==============================] - 0s 86us/step - loss: 593.4743 - mean_absolute_error: 23.1080
Epoch 16/100
314/314 [==============================] - 0s 75us/step - loss: 590.8865 - mean_absolute_error: 23.0556
Epoch 17/100
314/314 [==============================] - 0s 75us/step - loss: 589.0109 - mean_absolute_error: 23.0107
Epoch 18/100
314/314 [==============================] - 0s 83us/step - loss: 588.0436 - mean_absolute_error: 22.9893
Epoch 19/100
314/314 [==============================] - 0s 81us/step - loss: 587.1228 - mean_absolute_error: 22.9692
Epoch 20/100
314/314 [==============================] - 0s 80us/step - loss: 586.2098 - mean_absolute_error: 22.9492
Epoch 21/100
314/314 [==============================] - 0s 92us/step - loss: 585.2993 - mean_absolute_error: 22.9293
Epoch 22/100
314/314 [==============================] - 0s 82us/step - loss: 584.3795 - mean_absolute_error: 22.9096
Epoch 23/100
314/314 [==============================] - 0s 88us/step - loss: 583.4735 - mean_absolute_error: 22.8894
Epoch 24/100
314/314 [==============================] - 0s 81us/step - loss: 582.5688 - mean_absolute_error: 22.8698
Epoch 25/100
314/314 [==============================] - 0s 81us/step - loss: 581.6527 - mean_absolute_error: 22.8498
Epoch 26/100
314/314 [==============================] - 0s 71us/step - loss: 580.7429 - mean_absolute_error: 22.8299
Epoch 27/100
314/314 [==============================] - 0s 78us/step - loss: 579.8364 - mean_absolute_error: 22.8099
Epoch 28/100
314/314 [==============================] - 0s 88us/step - loss: 578.9214 - mean_absolute_error: 22.7900
Epoch 29/100
314/314 [==============================] - 0s 63us/step - loss: 578.0134 - mean_absolute_error: 22.7701
Epoch 30/100
314/314 [==============================] - 0s 110us/step - loss: 577.1126 - mean_absolute_error: 22.7501
Epoch 31/100
314/314 [==============================] - 0s 95us/step - loss: 576.2091 - mean_absolute_error: 22.7302
Epoch 32/100
314/314 [==============================] - 0s 97us/step - loss: 575.3045 - mean_absolute_error: 22.7103
Epoch 33/100
314/314 [==============================] - 0s 72us/step - loss: 574.3968 - mean_absolute_error: 22.6905
Epoch 34/100
314/314 [==============================] - 0s 73us/step - loss: 573.4944 - mean_absolute_error: 22.6705
Epoch 35/100
314/314 [==============================] - 0s 73us/step - loss: 572.5868 - mean_absolute_error: 22.6507
Epoch 36/100
314/314 [==============================] - 0s 87us/step - loss: 571.6773 - mean_absolute_error: 22.6307
Epoch 37/100
314/314 [==============================] - 0s 71us/step - loss: 570.7814 - mean_absolute_error: 22.6106
Epoch 38/100
314/314 [==============================] - 0s 73us/step - loss: 569.8837 - mean_absolute_error: 22.5908
Epoch 39/100
314/314 [==============================] - 0s 81us/step - loss: 568.9827 - mean_absolute_error: 22.5709
Epoch 40/100
314/314 [==============================] - 0s 70us/step - loss: 568.0840 - mean_absolute_error: 22.5509
Epoch 41/100
314/314 [==============================] - 0s 99us/step - loss: 567.1905 - mean_absolute_error: 22.5310
Epoch 42/100
314/314 [==============================] - 0s 74us/step - loss: 566.2958 - mean_absolute_error: 22.5111
Epoch 43/100
314/314 [==============================] - 0s 74us/step - loss: 565.3968 - mean_absolute_error: 22.4912
Epoch 44/100
314/314 [==============================] - 0s 77us/step - loss: 564.5012 - mean_absolute_error: 22.4712
Epoch 45/100
314/314 [==============================] - 0s 76us/step - loss: 563.6052 - mean_absolute_error: 22.4514
Epoch 46/100
314/314 [==============================] - 0s 67us/step - loss: 562.7115 - mean_absolute_error: 22.4314
Epoch 47/100
314/314 [==============================] - 0s 74us/step - loss: 561.8203 - mean_absolute_error: 22.4116
Epoch 48/100
314/314 [==============================] - 0s 88us/step - loss: 560.9209 - mean_absolute_error: 22.3916
Epoch 49/100
314/314 [==============================] - 0s 77us/step - loss: 560.0319 - mean_absolute_error: 22.3716
Epoch 50/100
314/314 [==============================] - 0s 77us/step - loss: 559.1382 - mean_absolute_error: 22.3518
Epoch 51/100
314/314 [==============================] - 0s 110us/step - loss: 558.2461 - mean_absolute_error: 22.3318
Epoch 52/100
314/314 [==============================] - 0s 84us/step - loss: 557.3561 - mean_absolute_error: 22.3120
Epoch 53/100
314/314 [==============================] - 0s 76us/step - loss: 556.4702 - mean_absolute_error: 22.2919
Epoch 54/100
314/314 [==============================] - 0s 74us/step - loss: 555.5846 - mean_absolute_error: 22.2721
Epoch 55/100
314/314 [==============================] - 0s 83us/step - loss: 554.6953 - mean_absolute_error: 22.2522
Epoch 56/100
314/314 [==============================] - 0s 82us/step - loss: 553.8168 - mean_absolute_error: 22.2321
Epoch 57/100
314/314 [==============================] - 0s 89us/step - loss: 552.9357 - mean_absolute_error: 22.2123
Epoch 58/100
314/314 [==============================] - 0s 74us/step - loss: 552.0423 - mean_absolute_error: 22.1925
Epoch 59/100
314/314 [==============================] - 0s 84us/step - loss: 551.1714 - mean_absolute_error: 22.1724
Epoch 60/100
314/314 [==============================] - 0s 74us/step - loss: 550.2896 - mean_absolute_error: 22.1527
Epoch 61/100
314/314 [==============================] - 0s 72us/step - loss: 549.4035 - mean_absolute_error: 22.1328
Epoch 62/100
314/314 [==============================] - 0s 83us/step - loss: 548.5174 - mean_absolute_error: 22.1129
Epoch 63/100
314/314 [==============================] - 0s 79us/step - loss: 547.6355 - mean_absolute_error: 22.0929
Epoch 64/100
314/314 [==============================] - 0s 70us/step - loss: 546.7553 - mean_absolute_error: 22.0730
Epoch 65/100
314/314 [==============================] - 0s 72us/step - loss: 545.8751 - mean_absolute_error: 22.0531
Epoch 66/100
314/314 [==============================] - 0s 101us/step - loss: 544.9988 - mean_absolute_error: 22.0331
Epoch 67/100
314/314 [==============================] - 0s 82us/step - loss: 544.1257 - mean_absolute_error: 22.0133
Epoch 68/100
314/314 [==============================] - 0s 83us/step - loss: 543.2529 - mean_absolute_error: 21.9933
Epoch 69/100
314/314 [==============================] - 0s 73us/step - loss: 542.3750 - mean_absolute_error: 21.9735
Epoch 70/100
314/314 [==============================] - 0s 75us/step - loss: 541.4976 - mean_absolute_error: 21.9535
Epoch 71/100
314/314 [==============================] - 0s 86us/step - loss: 540.6255 - mean_absolute_error: 21.9335
Epoch 72/100
314/314 [==============================] - 0s 76us/step - loss: 539.7580 - mean_absolute_error: 21.9137
Epoch 73/100
314/314 [==============================] - 0s 86us/step - loss: 538.8835 - mean_absolute_error: 21.8938
Epoch 74/100
314/314 [==============================] - 0s 79us/step - loss: 538.0137 - mean_absolute_error: 21.8740
Epoch 75/100
314/314 [==============================] - 0s 75us/step - loss: 537.1421 - mean_absolute_error: 21.8539
Epoch 76/100
314/314 [==============================] - 0s 75us/step - loss: 536.2708 - mean_absolute_error: 21.8341
Epoch 77/100
314/314 [==============================] - 0s 79us/step - loss: 535.3973 - mean_absolute_error: 21.8142
Epoch 78/100
314/314 [==============================] - 0s 74us/step - loss: 534.5300 - mean_absolute_error: 21.7942
Epoch 79/100
314/314 [==============================] - 0s 84us/step - loss: 533.6657 - mean_absolute_error: 21.7743
Epoch 80/100
314/314 [==============================] - 0s 91us/step - loss: 532.8008 - mean_absolute_error: 21.7543
Epoch 81/100
314/314 [==============================] - 0s 82us/step - loss: 531.9365 - mean_absolute_error: 21.7345
Epoch 82/100
314/314 [==============================] - 0s 81us/step - loss: 531.0635 - mean_absolute_error: 21.7146
Epoch 83/100
314/314 [==============================] - 0s 72us/step - loss: 530.1932 - mean_absolute_error: 21.6947
Epoch 84/100
314/314 [==============================] - 0s 67us/step - loss: 529.3291 - mean_absolute_error: 21.6746
Epoch 85/100
314/314 [==============================] - 0s 82us/step - loss: 528.4706 - mean_absolute_error: 21.6549
Epoch 86/100
314/314 [==============================] - 0s 75us/step - loss: 527.6112 - mean_absolute_error: 21.6348
Epoch 87/100
314/314 [==============================] - 0s 79us/step - loss: 526.7544 - mean_absolute_error: 21.6151
Epoch 88/100
314/314 [==============================] - 0s 85us/step - loss: 525.8973 - mean_absolute_error: 21.5951
Epoch 89/100
314/314 [==============================] - 0s 69us/step - loss: 525.0363 - mean_absolute_error: 21.5752
Epoch 90/100
314/314 [==============================] - 0s 77us/step - loss: 524.1763 - mean_absolute_error: 21.5554
Epoch 91/100
314/314 [==============================] - 0s 86us/step - loss: 523.3187 - mean_absolute_error: 21.5354
Epoch 92/100
314/314 [==============================] - 0s 85us/step - loss: 522.4643 - mean_absolute_error: 21.5155
Epoch 93/100
314/314 [==============================] - 0s 74us/step - loss: 521.6024 - mean_absolute_error: 21.4956
Epoch 94/100
314/314 [==============================] - 0s 70us/step - loss: 520.7432 - mean_absolute_error: 21.4758
Epoch 95/100
314/314 [==============================] - 0s 87us/step - loss: 519.8903 - mean_absolute_error: 21.4557
Epoch 96/100
314/314 [==============================] - 0s 74us/step - loss: 519.0371 - mean_absolute_error: 21.4359
Epoch 97/100
314/314 [==============================] - 0s 79us/step - loss: 518.1847 - mean_absolute_error: 21.4160
Epoch 98/100
314/314 [==============================] - 0s 86us/step - loss: 517.3364 - mean_absolute_error: 21.3960
Epoch 99/100
314/314 [==============================] - 0s 87us/step - loss: 516.4832 - mean_absolute_error: 21.3762
Epoch 100/100
314/314 [==============================] - 0s 73us/step - loss: 515.6339 - mean_absolute_error: 21.3563

In [54]:
train_dataset.head()

     Cylinders  Displacement     HP  Weight  ...  Model Year  USA  EUROPE  JAPAN
146          4          90.0   75.0  2125.0  ...          74  1.0     0.0    0.0
282          4         140.0   88.0  2890.0  ...          79  1.0     0.0    0.0
69           8         350.0  160.0  4456.0  ...          72  1.0     0.0    0.0
378          4         105.0   63.0  2125.0  ...          82  1.0     0.0    0.0
331          4          97.0   67.0  2145.0  ...          80  0.0     0.0    1.0

[5 rows x 9 columns]