<a href="https://colab.research.google.com/github/JacopoKahl/cars-python-lab/blob/master/cars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Cars - Regression task

Objectives: predict mpg(miles per gallon) given veichle features

Import libraries and functions

In [1]:
from keras.models import Sequential
from keras.layers import Dense

import pandas as pd #Manage dataset

Using TensorFlow backend.

Labels

In [0]:
column_names=['MPG', 'Cylinders', 'Displacement', 'HP', 'Weight', 'Acceleration', 'Model Year', 'Origin']

Load Dataset

In [0]:
dataset = pd.read_csv('auto-mpg.data', names=column_names, na_values = '?', sep=' ', skipinitialspace=True, comment='\t')

In [4]:
dataset.head()

    MPG  Cylinders  Displacement  ...  Acceleration  Model Year  Origin
0  18.0          8         307.0  ...          12.0          70       1
1  15.0          8         350.0  ...          11.5          70       1
2  18.0          8         318.0  ...          11.0          70       1
3  16.0          8         304.0  ...          12.0          70       1
4  17.0          8         302.0  ...          10.5          70       1

[5 rows x 8 columns]

Data cleaning

In [5]:
dataset.isna().sum()

MPG             0
Cylinders       0
Displacement    0
HP              6
Weight          0
Acceleration    0
Model Year      0
Origin          0
dtype: int64

Brutal data cleaning approach: drop the rows with NaNs

In [0]:
dataset = dataset.dropna() #overwrite the previous dataset with a cleaned one (removing rows with NaNs)

In [7]:
dataset.isna().sum()

MPG             0
Cylinders       0
Displacement    0
HP              0
Weight          0
Acceleration    0
Model Year      0
Origin          0
dtype: int64

In [8]:
dataset.describe()

              MPG   Cylinders  ...  Model Year      Origin
count  392.000000  392.000000  ...  392.000000  392.000000
mean    23.445918    5.471939  ...   75.979592    1.576531
std      7.805007    1.705783  ...    3.683737    0.805518
min      9.000000    3.000000  ...   70.000000    1.000000
25%     17.000000    4.000000  ...   73.000000    1.000000
50%     22.750000    4.000000  ...   76.000000    1.000000
75%     29.000000    8.000000  ...   79.000000    2.000000
max     46.600000    8.000000  ...   82.000000    3.000000

[8 rows x 8 columns]

Split the dataset into train and tests sets

In [0]:
train_dataset = dataset.sample(frac=0.8, random_state=0)
test_dataset = dataset.drop(train_dataset.index) #test_dataset obtained as difference (removes sampled rows from original dataset)

Output

In [0]:
#labels = dataset.pop('MPG')

train_labels = train_dataset.pop('MPG') #note that the output is called 'labels' but they are not labels, but numbers(MPG)
test_labels = test_dataset.pop('MPG') #note that the output is called 'labels' but they are not labels, but numbers(MPG)

Build model

In [11]:
model = Sequential()
model.add(Dense(units=4, activation='relu', input_dim= train_dataset.shape[1]))
model.add(Dense(units=6, activation='relu'))
model.add(Dense(units=1)) #regression problem don't need an activation

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

In [12]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 4)                 32
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 30
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 7
=================================================================
Total params: 69
Trainable params: 69
Non-trainable params: 0
_________________________________________________________________

Define a loss function and optimizer. Different from previous classification examples. Note tha the metric is a mean absolute error instead of accuracy.

In [13]:
model.compile(loss='mean_squared_error', optimizer='RMSprop', metrics=['mean_absolute_error'])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Fit data

In [14]:
model.fit(train_dataset, train_labels, batch_size=16, epochs=100)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Epoch 1/100
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

314/314 [==============================] - 0s 2ms/step - loss: 543135.9791 - mean_absolute_error: 709.0698
Epoch 2/100
314/314 [==============================] - 0s 90us/step - loss: 367920.0490 - mean_absolute_error: 584.9158
Epoch 3/100
314/314 [==============================] - 0s 72us/step - loss: 257432.6642 - mean_absolute_error: 488.5940
Epoch 4/100
314/314 [==============================] - 0s 90us/step - loss: 176545.9070 - mean_absolute_error: 404.9088
Epoch 5/100
314/314 [==============================] - 0s 72us/step - loss: 117268.0604 - mean_absolute_error: 330.2599
Epoch 6/100
314/314 [==============================] - 0s 70us/step - loss: 76681.9345 - mean_absolute_error: 268.3364
Epoch 7/100
314/314 [==============================] - 0s 79us/step - loss: 51340.5294 - mean_absolute_error: 221.0442
Epoch 8/100
314/314 [==============================] - 0s 89us/step - loss: 35138.3605 - mean_absolute_error: 183.2950
Epoch 9/100
314/314 [==============================] - 0s 81us/step - loss: 23735.9072 - mean_absolute_error: 150.9409
Epoch 10/100
314/314 [==============================] - 0s 72us/step - loss: 15508.4263 - mean_absolute_error: 122.3929
Epoch 11/100
314/314 [==============================] - 0s 92us/step - loss: 9736.8138 - mean_absolute_error: 97.3973
Epoch 12/100
314/314 [==============================] - 0s 71us/step - loss: 5839.5450 - mean_absolute_error: 75.6691
Epoch 13/100
314/314 [==============================] - 0s 75us/step - loss: 3329.7472 - mean_absolute_error: 57.2263
Epoch 14/100
314/314 [==============================] - 0s 82us/step - loss: 1771.9340 - mean_absolute_error: 41.6385
Epoch 15/100
314/314 [==============================] - 0s 87us/step - loss: 865.5873 - mean_absolute_error: 28.4672
Epoch 16/100
314/314 [==============================] - 0s 82us/step - loss: 589.6993 - mean_absolute_error: 23.0251
Epoch 17/100
314/314 [==============================] - 0s 78us/step - loss: 588.8227 - mean_absolute_error: 23.0061
Epoch 18/100
314/314 [==============================] - 0s 68us/step - loss: 587.9088 - mean_absolute_error: 22.9864
Epoch 19/100
314/314 [==============================] - 0s 75us/step - loss: 586.9946 - mean_absolute_error: 22.9663
Epoch 20/100
314/314 [==============================] - 0s 72us/step - loss: 586.0796 - mean_absolute_error: 22.9465
Epoch 21/100
314/314 [==============================] - 0s 74us/step - loss: 585.1679 - mean_absolute_error: 22.9265
Epoch 22/100
314/314 [==============================] - 0s 119us/step - loss: 584.2598 - mean_absolute_error: 22.9065
Epoch 23/100
314/314 [==============================] - 0s 83us/step - loss: 583.3504 - mean_absolute_error: 22.8868
Epoch 24/100
314/314 [==============================] - 0s 80us/step - loss: 582.4322 - mean_absolute_error: 22.8669
Epoch 25/100
314/314 [==============================] - 0s 68us/step - loss: 581.5205 - mean_absolute_error: 22.8469
Epoch 26/100
314/314 [==============================] - 0s 85us/step - loss: 580.6142 - mean_absolute_error: 22.8269
Epoch 27/100
314/314 [==============================] - 0s 87us/step - loss: 579.7046 - mean_absolute_error: 22.8070
Epoch 28/100
314/314 [==============================] - 0s 75us/step - loss: 578.7926 - mean_absolute_error: 22.7872
Epoch 29/100
314/314 [==============================] - 0s 78us/step - loss: 577.8872 - mean_absolute_error: 22.7671
Epoch 30/100
314/314 [==============================] - 0s 67us/step - loss: 576.9811 - mean_absolute_error: 22.7474
Epoch 31/100
314/314 [==============================] - 0s 87us/step - loss: 576.0684 - mean_absolute_error: 22.7274
Epoch 32/100
314/314 [==============================] - 0s 97us/step - loss: 575.1723 - mean_absolute_error: 22.7074
Epoch 33/100
314/314 [==============================] - 0s 96us/step - loss: 574.2615 - mean_absolute_error: 22.6877
Epoch 34/100
314/314 [==============================] - 0s 85us/step - loss: 573.3605 - mean_absolute_error: 22.6677
Epoch 35/100
314/314 [==============================] - 0s 85us/step - loss: 572.4607 - mean_absolute_error: 22.6478
Epoch 36/100
314/314 [==============================] - 0s 80us/step - loss: 571.5650 - mean_absolute_error: 22.6279
Epoch 37/100
314/314 [==============================] - 0s 98us/step - loss: 570.6616 - mean_absolute_error: 22.6080
Epoch 38/100
314/314 [==============================] - 0s 76us/step - loss: 569.7611 - mean_absolute_error: 22.5881
Epoch 39/100
314/314 [==============================] - 0s 72us/step - loss: 568.8657 - mean_absolute_error: 22.5680
Epoch 40/100
314/314 [==============================] - 0s 83us/step - loss: 567.9721 - mean_absolute_error: 22.5483
Epoch 41/100
314/314 [==============================] - 0s 102us/step - loss: 567.0697 - mean_absolute_error: 22.5283
Epoch 42/100
314/314 [==============================] - 0s 85us/step - loss: 566.1698 - mean_absolute_error: 22.5084
Epoch 43/100
314/314 [==============================] - 0s 83us/step - loss: 565.2737 - mean_absolute_error: 22.4885
Epoch 44/100
314/314 [==============================] - 0s 101us/step - loss: 564.3854 - mean_absolute_error: 22.4685
Epoch 45/100
314/314 [==============================] - 0s 75us/step - loss: 563.4892 - mean_absolute_error: 22.4488
Epoch 46/100
314/314 [==============================] - 0s 73us/step - loss: 562.5942 - mean_absolute_error: 22.4287
Epoch 47/100
314/314 [==============================] - 0s 83us/step - loss: 561.7075 - mean_absolute_error: 22.4089
Epoch 48/100
314/314 [==============================] - 0s 79us/step - loss: 560.8095 - mean_absolute_error: 22.3891
Epoch 49/100
314/314 [==============================] - 0s 94us/step - loss: 559.9187 - mean_absolute_error: 22.3691
Epoch 50/100
314/314 [==============================] - 0s 80us/step - loss: 559.0301 - mean_absolute_error: 22.3491
Epoch 51/100
314/314 [==============================] - 0s 73us/step - loss: 558.1353 - mean_absolute_error: 22.3294
Epoch 52/100
314/314 [==============================] - 0s 74us/step - loss: 557.2510 - mean_absolute_error: 22.3092
Epoch 53/100
314/314 [==============================] - 0s 81us/step - loss: 556.3652 - mean_absolute_error: 22.2895
Epoch 54/100
314/314 [==============================] - 0s 82us/step - loss: 555.4752 - mean_absolute_error: 22.2696
Epoch 55/100
314/314 [==============================] - 0s 86us/step - loss: 554.5831 - mean_absolute_error: 22.2497
Epoch 56/100
314/314 [==============================] - 0s 71us/step - loss: 553.6981 - mean_absolute_error: 22.2297
Epoch 57/100
314/314 [==============================] - 0s 95us/step - loss: 552.8112 - mean_absolute_error: 22.2098
Epoch 58/100
314/314 [==============================] - 0s 70us/step - loss: 551.9302 - mean_absolute_error: 22.1899
Epoch 59/100
314/314 [==============================] - 0s 80us/step - loss: 551.0556 - mean_absolute_error: 22.1699
Epoch 60/100
314/314 [==============================] - 0s 99us/step - loss: 550.1776 - mean_absolute_error: 22.1502
Epoch 61/100
314/314 [==============================] - 0s 80us/step - loss: 549.2914 - mean_absolute_error: 22.1303
Epoch 62/100
314/314 [==============================] - 0s 78us/step - loss: 548.4103 - mean_absolute_error: 22.1103
Epoch 63/100
314/314 [==============================] - 0s 86us/step - loss: 547.5309 - mean_absolute_error: 22.0905
Epoch 64/100
314/314 [==============================] - 0s 95us/step - loss: 546.6539 - mean_absolute_error: 22.0705
Epoch 65/100
314/314 [==============================] - 0s 82us/step - loss: 545.7732 - mean_absolute_error: 22.0506
Epoch 66/100
314/314 [==============================] - 0s 83us/step - loss: 544.8988 - mean_absolute_error: 22.0308
Epoch 67/100
314/314 [==============================] - 0s 82us/step - loss: 544.0188 - mean_absolute_error: 22.0108
Epoch 68/100
314/314 [==============================] - 0s 96us/step - loss: 543.1413 - mean_absolute_error: 21.9909
Epoch 69/100
314/314 [==============================] - 0s 86us/step - loss: 542.2650 - mean_absolute_error: 21.9711
Epoch 70/100
314/314 [==============================] - 0s 110us/step - loss: 541.3872 - mean_absolute_error: 21.9512
Epoch 71/100
314/314 [==============================] - 0s 74us/step - loss: 540.5190 - mean_absolute_error: 21.9311
Epoch 72/100
314/314 [==============================] - 0s 79us/step - loss: 539.6470 - mean_absolute_error: 21.9113
Epoch 73/100
314/314 [==============================] - 0s 83us/step - loss: 538.7794 - mean_absolute_error: 21.8914
Epoch 74/100
314/314 [==============================] - 0s 79us/step - loss: 537.9083 - mean_absolute_error: 21.8715
Epoch 75/100
314/314 [==============================] - 0s 74us/step - loss: 537.0306 - mean_absolute_error: 21.8516
Epoch 76/100
314/314 [==============================] - 0s 96us/step - loss: 536.1641 - mean_absolute_error: 21.8316
Epoch 77/100
314/314 [==============================] - 0s 93us/step - loss: 535.2934 - mean_absolute_error: 21.8119
Epoch 78/100
314/314 [==============================] - 0s 111us/step - loss: 534.4238 - mean_absolute_error: 21.7918
Epoch 79/100
314/314 [==============================] - 0s 77us/step - loss: 533.5549 - mean_absolute_error: 21.7720
Epoch 80/100
314/314 [==============================] - 0s 77us/step - loss: 532.6928 - mean_absolute_error: 21.7520
Epoch 81/100
314/314 [==============================] - 0s 82us/step - loss: 531.8328 - mean_absolute_error: 21.7322
Epoch 82/100
314/314 [==============================] - 0s 86us/step - loss: 530.9662 - mean_absolute_error: 21.7124
Epoch 83/100
314/314 [==============================] - 0s 69us/step - loss: 530.0979 - mean_absolute_error: 21.6924
Epoch 84/100
314/314 [==============================] - 0s 93us/step - loss: 529.2398 - mean_absolute_error: 21.6725
Epoch 85/100
314/314 [==============================] - 0s 80us/step - loss: 528.3729 - mean_absolute_error: 21.6526
Epoch 86/100
314/314 [==============================] - 0s 76us/step - loss: 527.5122 - mean_absolute_error: 21.6326
Epoch 87/100
314/314 [==============================] - 0s 72us/step - loss: 526.6530 - mean_absolute_error: 21.6127
Epoch 88/100
314/314 [==============================] - 0s 79us/step - loss: 525.7958 - mean_absolute_error: 21.5928
Epoch 89/100
314/314 [==============================] - 0s 79us/step - loss: 524.9368 - mean_absolute_error: 21.5729
Epoch 90/100
314/314 [==============================] - 0s 79us/step - loss: 524.0738 - mean_absolute_error: 21.5531
Epoch 91/100
314/314 [==============================] - 0s 89us/step - loss: 523.2169 - mean_absolute_error: 21.5332
Epoch 92/100
314/314 [==============================] - 0s 81us/step - loss: 522.3610 - mean_absolute_error: 21.5132
Epoch 93/100
314/314 [==============================] - 0s 77us/step - loss: 521.5060 - mean_absolute_error: 21.4933
Epoch 94/100
314/314 [==============================] - 0s 79us/step - loss: 520.6502 - mean_absolute_error: 21.4735
Epoch 95/100
314/314 [==============================] - 0s 71us/step - loss: 519.7985 - mean_absolute_error: 21.4535
Epoch 96/100
314/314 [==============================] - 0s 68us/step - loss: 518.9519 - mean_absolute_error: 21.4336
Epoch 97/100
314/314 [==============================] - 0s 83us/step - loss: 518.0979 - mean_absolute_error: 21.4138
Epoch 98/100
314/314 [==============================] - 0s 77us/step - loss: 517.2429 - mean_absolute_error: 21.3939
Epoch 99/100
314/314 [==============================] - 0s 75us/step - loss: 516.3928 - mean_absolute_error: 21.3740
Epoch 100/100
314/314 [==============================] - 0s 74us/step - loss: 515.5353 - mean_absolute_error: 21.3541

In [15]:
train_dataset.head()

     Cylinders  Displacement     HP  Weight  Acceleration  Model Year  Origin
146          4          90.0   75.0  2125.0          14.5          74       1
282          4         140.0   88.0  2890.0          17.3          79       1
69           8         350.0  160.0  4456.0          13.5          72       1
378          4         105.0   63.0  2125.0          14.7          82       1
331          4          97.0   67.0  2145.0          18.0          80       3